.header__mobile {
   display: none;
}

.dropbtn {
   background-color: #272727;
   margin: 10px 26px 14px 22px;
   font-size: 16px;
   border: none;

}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   transform: translateX(-676px);
   margin-top: -76px;

}

.header__navigation-link-mobile {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 18px; 
   color: #3D3D3D;
   text-decoration: none;
   cursor: pointer;
   margin: 47px 297px 31px 20px;
   text-decoration: none;
   display: block;

}

.header__navigation-link-mobile:hover {
   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
   z-index: 20;
    display: block;
    width: 374px;
    height: 5944px;
}

.dropdown:hover .dropbtn {
   background-color: #272727;
}

.header__navigation-link--mobiletitle {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 18px; 
   color: #3D3D3D;
   text-decoration: none;
   margin: 33px 297px -10px 20px;
}

.socials__mobile {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.socials-reiting-mobiles {
   background-image: url('../../images/mobiles/love.svg');
   background-repeat: no-repeat;
   width: 50px;
   height: 50px;
   cursor: pointer;
   border: none;
   margin: 20px;
}

.dropdown-content_menu {

}

@media screen and (max-width: 768px) {
   .body {
      max-width: 768px;
      width: 100%;
      margin: 0 auto;
   }

   .header__container {
      width: 768px;
   }

   .main {
      width: 768px;
   }

   .header__mobile {
      display: block;
      position: relative;
      display: inline-block;
   }

   .navigation {
      display: none;
   }

   .header__title {
      font-size: 90px;
      line-height: 90px;
      color: #FFFFFF;
      text-shadow: 0px 6px 40px rgba(0, 0, 0, 0.9);
      padding: 35px;
   }

   .title__categories {
      font-size: 20px;
line-height: 28px;
      margin: 9px 550px 200px 30px;
   }

   .socials {
      display: flex;
      margin: 9px 22px 9px 76px;
      justify-content: space-around;
   }

  

   .title-share {
      font-size: 20px;
      line-height: 16px;
      text-align: center;

   }

   .header__galley {
      width: 768px;
   }

   .baner {
      background-image: url('../../images/mobiles/baner.png');
      background-repeat: no-repeat;
      width: 768px;
   }

   .container__gallery-title {
      margin: 160px 0px 74px 20px;
      font-weight: 400;
      font-size: 85px;
      line-height: 85px;

   }

 
}