.header__mobile {
   display: none;
}

.dropbtn {
   background-color: #272727;
   margin: 10px 26px 14px 22px;
   font-size: 16px;
   border: none;

}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   height: 8068px;
   min-width: 364px;
   transform: translateX(-839px);
}

.header__navigation-link-mobile {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;

}

.header__navigation-link-mobile:hover {
   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown:hover .dropbtn {
   background-color: #272727;
}

.header__navigation-link-mobile {
    font-size: 16px;
   line-height: 18px;
   color: #3D3D3D;
   text-decoration: none;
   cursor: pointer;
}

.header__navigation-link--mobiletitle {
   font-size: 18px;
   line-height: 18px;
   color: #3D3D3D;
   text-decoration: none;
}

.socials__mobile {
   display: flex;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.socials-reiting-mobiles {
   background-image: url('../../images/mobiles/love.svg');
   background-repeat: no-repeat;
   width: 50px;
   height: 50px;
   cursor: pointer;
   border: none;
   margin: 20px;
}

@media screen and (max-width: 768px) {
   .body {
      max-width: 768px;
      width: 100%;
      margin: 0 auto;
   }

   .header__container {
      width: 768px;
   } 

   .main {
      width: 768px;
   }

   .header__mobile {
      display: block;
      position: relative;
      display: inline-block;
   }

   .navigation {
      display: none;
   }

   .header__title {
       font-size: 90px;
      line-height: 90px;
      color: #FFFFFF;
      text-shadow: 0px 6px 40px rgba(0, 0, 0, 0.9);
   }

   .socials {
      display: flex;
      margin: 9px 22px 9px 76px;
      justify-content: space-around;
   }

   .Share {
      margin: 39px 57px 60px 58px;
   }

   .share__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .title-share {
      font-size: 20px;
      line-height: 16px;
      text-align: center;
      
   }

   .header__galley {
      width:768px;
  }
   .baner {
      background-image: url('../../images/mobiles/baner.png');
      background-repeat: no-repeat;
      width: 768px;
   }

   .container__gallery-title {
      margin: 160px 0px 74px 20px;
      font-weight: 400;
      font-size: 85px;
      line-height: 85px;
      
   }
}