.Painting {
    height: 1860px;
}

.Painting__title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 220px;
    text-align: center;

}

.Painting__painting {
    display: block;
    margin: auto;


}

.Painting-title {
    margin-top: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

}

.Painting__price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;

}

.Painting__buy {
    display: block;
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    background: #4137D0;
    border: none;
    cursor: pointer;
}

.Painting__buy:hover {
    background: #4137D0;
    box-shadow: 0px 12px 35px rgba(44, 35, 172, 0.55);
}

.Painting__buy:active {
    background: #2C22AF;
}



.philosophy__title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 210px;
    margin-left: 53px;
    margin-top: -576px;

}

.philosophy__img {
    margin-left: 1219px;
}

.philosophy__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #7C6E6E;
    margin-left: 53px;
    width: 1280px;
    text-align: justify;
    
}

.philosophy__text--landscapes {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #7C6E6E;
    margin-right: 60px;   
    margin-top: 23px;
    margin-left: 53px;
    
    
}
    


.philosophy__img-1 {
    float: left;
    margin: 41px 47px 50px 53px;
}

.philosophy__title--subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 90px;
    margin-left: 53px;
    text-shadow: 0 -2px 0 #000000,
        0 -2px 0 #000000,
        0 2px 0 #000000,
        0 2px 0 #000000,
        -2px 0 0 #000000,
        2px 0 0 #000000,
        -2px 0 0 #000000,
        2px 0 0 #000000,
        -1px -2px 0 #000000,
        1px -2px 0 #000000,
        -1px 2px 0 #000000,
        1px 2px 0 #000000,
        -2px -1px 0 #000000,
        2px -1px 0 #000000,
        -2px 1px 0 #000000,
        2px 1px 0 #000000,
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000,
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000;
}

.bloc-content {
    margin-top: 119px;
}

.philosophy__img-2 {
    float: right;
    margin: 1px 300px 1px 130px;

}