.new_Painting {
    height: 1860px;
}

.new_Painting--title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 220px;
    text-align: center;

}

.new_Painting--painting {
    display: block;
    margin: auto;


}

.new_Painting-title {
    margin-top: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

}

.new_Painting--price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;

}

.new_Painting--buy {
    display: block;
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    background: #4137D0;
    border: none;
    cursor: pointer;
}

.new_Painting--buy:hover {
    background: #4137D0;
    box-shadow: 0px 12px 35px rgba(44, 35, 172, 0.55);
}

.new_Painting--buy:active {
    background: #2C22AF;
}



.philosophy--title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 210px;
    margin-left: 53px;
    margin-top: -576px;

}

.philosophy--img {
    margin-left: 1219px;
}
.philosophy--text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #7C6E6E;
    margin-left: 53px;
    width: 1280px;

}

.philosophy-img {
   margin-top: 41px;
   margin-left: 53px;
}