.footer {
    width: 1920px;
    height: 146px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    height: 146px;
    background-color: #242424;
}

.copyright {
    width: 1920px;
    height: 0px;
    margin-top: -44px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.copyright-footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 14px;
    display: block;
}

