.header__mobile {
   display: none;
}

/*.header__navigation-link--mobiletitle {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 18px;
color: #3D3D3D;
text-decoration: none;
}

.header__navigation-list--mobile {
   display: block;
   margin: 47px 296px 19px 20px;
}

.header__navigation-link-mobile{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: #3D3D3D;
text-decoration: none;
cursor: pointer;
}
.header__mobile-menu {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 374px;
   transform: translateX(0px);
   background-color: #fff;
   transition: transform .3s;
}

.header__navigation-list-item--mobile {
   margin: 33px 296px 31px 20px;
}

.header__mobile-menu {
   z-index: var(--header-menu-z-index);
}
*/


@media screen and (max-width: 768px) {
   .header__mobile {
      display: block;
   }

   .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
   }

   .header__mobile {
      position: relative;
      display: inline-block;
   }

   .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      height: 8068px;
      min-width: 364px;

   }



   .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
   }

   .dropdown-content a:hover {
      background-color: #ddd;
   }


   .dropdown:hover .dropdown-content {
      display: block;
   }


   .dropdown:hover .dropbtn {
      background-color: #ddd;
   }

}