.header {
    width: 1920px;
    height: 1430px;
    margin: 0 auto;
    /*border: 1px;
    border-style: solid;
    border-color: red;*/
}

.header__wrapper {
    display: flex;
    height: 81px;
    background-color: #272727;
}


.logo {
    margin: 17px;
}



.navigation-list {
    display: flex;
    width: 1140px;
    height: 20px;
    list-style-type: none;
    margin-left: 67px;
    margin-top: 31px;
}



.navigation-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px;
}


.navigation-link:hover {
    background-image: url('../../images/header/Ellipse\ 62.png');
    background-repeat: no-repeat;
    background-position: center 60px;
}

.baner {
    background-image: url('../../images/header/bg.png');
    height: 1401.87px;
    background-repeat: no-repeat;
}