.header__mobile {
   display: none;
}

.header__mobile-top {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 18px;
   background: #EEEEEE;
}

.header_humburger {
   background: none;
   border: none;
   font-size: 18px;
}

.header__search-input-mobile {
   flex: 1 1 auto;
   width: 100%;
}

.header__search-btn {
   background: none;
   border: none;
   color: var(--red-darken-1);
}

.header__search-mobile-form {
   display: none;
}

.header__search-mobile-form--active {
   display: block;
   flex: 1 1 auto;
}

.header__controls-icon--mobile {
   margin-right: 0;
   margin-left: 9px;
   border: 2px solid #F5F5F5;
   width: 54px;
   height: 54px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header__controls-count--mobile {
   top: 0;
   right: 3px;
   transform: translate(0, 0);
}

.header__navigation-list--mobile {
   display: block;
}

.header__mobile-menu {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 207px;
   transform: translateX(0px);
   background-color: #fff;
   transition: transform .3s;
}

.header__navigation-list-item--mobile {
   padding: 15px 30px 15px 30px;
}

.header__mobile-menu {
   z-index: var(--header-menu-z-index);
}

.header__mobile-menu--active {
   transform: translateX(0);
}

@media screen and (max-width: 768px) {
   .header__mobile {
       display: block;
   }
}