.contacts {
    justify-content: space-around;
    margin-top: 17px;
    width: 375px;
    height: 81px;
    display: flex;

}
.border {
    position: absolute;
    margin-left: -215px;
    margin-top: 22px;
    width: 39px;
    height: 0px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transform: rotate(90deg);
}

.contacts-reiting {
    background-image: url('../../images/header/love.svg');
     background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: black;
    cursor: pointer;
}

.contacts-reiting:hover {
    background-image: url('../../images/header/lovehover.svg');
}

.contacts-facebook {
     width: 46px;
    height: 46px;
    
}

.contacts-facebook:hover {
    background-image: url('../../images/header/facebookhover.svg');
}

.contacts-tik-tok {
    width: 46px;
    height: 46px;
    }

.contacts-tik-tok:hover {
    background-image: url('../../images/header/tik\ tokhover.svg');
}


.contacts-instagram {
   width: 46px;
    height: 46px;
    
}

.contacts-instagram:hover {
    background-image: url('../../images/header/insthover.svg');
}

.contacts-youtube {
     width: 46px;
    height: 46px;
    
}

.contacts-youtube:hover {
    background-image: url('../../images/header/you\ tubehover.svg');
}