.marketplace__baner {
    background-image: url('../../images/images/bg.png');
    background-repeat: no-repeat;
    height: 1520px;
    margin-top: -400px;
}

.marketplace__baner-title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 210px;
    color: #FFFFFF;
    margin: 573px 23px 0 59px;

}

.marketplace__baner-content {
   display: flex;
    }

.marketplace__baner-text{
    width: 1024px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF; 
    margin: 96px 424px -177px 438px;
}