.main {
    width: 1920px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
 
}

.gallery__swiper {
    max-width: 1920px;
    height: 800px;
    margin: 100px auto;

}


.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}


.swiper-button-prev {
    left: -50px;
}

.swiper-button-next {
    right: -50px;
}


.swiper-slide {
transition: 0.5s;
}


.swiper-slide-active {
    transform: scale(1,2);
    transition: 0.5s;
}
.swiper-pagination-bullets {
    
    width: 10px;
    height: 10px;
    margin: 0;
    opacity: 1;
}



.gallery__block-1 {
   
    height: 587px;
    background-image: url('../../images/slider/IMG_4200\ 1.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}



.gallery__block-2 {
    
    height: 769px;
    background-image: url('../../images/slider/для\ маленьких\ картин\ 1.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}





.gallery__block-3 {
   
    height: 771px;
    background-image: url("../../images/slider/Глава\ \(4\)\ 2.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 817px;

}



.gallery__block-4 {
   
    height: 767px;
    background-image: url('../../images/slider/Основа.png');

    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat
}



.gallery__block-5 {
  
    height: 771px;
 background-image: url('../../images/slider/Глава\ \(3\)\ 1.png');
     display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat
}





.swiper-slider-active {
    transform: scale(1.2);
}

.gallery__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #3D3D3D;

}

.gallery__period {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.gallery-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #3D3D3D;
}

.gallery-buy {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #4137D0;
}

/*.slider-line {
 width: 23px;
height: 0px;
left: 456px;
top: 2085px;

border: 2px solid #3D3D3D;
transform: rotate(90deg);
}