.header__title {
   padding: 136px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 220px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -0 -2px 0 #000000,
        0 -2px 0 #000000,
        -0 2px 0 #000000,
        0 2px 0 #000000,
        -2px -0 0 #000000,
        2px -0 0 #000000,
        -2px 0 0 #000000,
        2px 0 0 #000000,
        -1px -2px 0 #000000,
        1px -2px 0 #000000,
        -1px 2px 0 #000000,
        1px 2px 0 #000000,
        -2px -1px 0 #000000,
        2px -1px 0 #000000,
        -2px 1px 0 #000000,
        2px 1px 0 #000000,
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000,
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000;


}

.title__categories {
    display: flex;
    margin-left: 156px;
    margin-top: -124px;

}

.title__category {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px;
    background-image: url('../../images/header/Ellipse\ 58.svg');
    background-repeat: no-repeat;
    background-position: left;

}

.container__gallery-title {
 margin-left: 135px;
 margin-top: 510px;
font-family: 'Noto Serif';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 220px;

}